@function v($var) {
  @return var(--#{$var});
}

:root {
  --some-var: 0;
}

.container {
    border: 2px solid white;
    padding: 25px;
    width: 80vw;
    height: 75vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cup {
    /*Cup styles*/
    width: 80%;
    height: 80%;
    border-radius: 0 0 9px 9px;
    border: 5px solid white;
    border-top:transparent;  
    display: flex;
    align-items: flex-end;

    .fill {
        animation: wave 3s ease 1 normal forwards;
        width: 100%;
        height: 100%;
        background: green;
    }
}

@keyframes wave {
    0% {
        height: 0; 
    }

    100% {
        height: v(some-var);
    }
}